<p><b>Profile Page!</b></p>
<p>Name: {{model.FullName}}</p>
<p>Last Login Date: {{model.LastLoginDate}}</p>
<p>Last Login Location: {{model.LastLoginLocation}}</p>
<p>Signup Date: {{model.SignupDate}}</p>